body {
    font-family: 'Oswald', sans-serif;
    /* background-color: #020015; */
    background-color: rgb(20, 225, 20);
    background-image: url("../img/bg_image.jpg");
    max-width: 480px;
    min-width: 1024px;
    width: 80vw
}

/* TOP */
.topnav {
    position: fixed;
    height: 4.5em;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    overflow: hidden;
    background-color: #111111;
}
.active1, .active2, a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
    font-size: 1.3em;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.about-us {
    background-color: #ddd;
    color: black;
}
.topnav a.split1 {
    float: left;
    background: hsla(266, 100%, 54%, 1);
    background: linear-gradient(180deg, hsla(266, 100%, 54%, 1) 1%, hsla(297, 56%, 50%, 1) 50%, hsla(0, 97%, 54%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(266, 100%, 54%, 1) 1%, hsla(297, 56%, 50%, 1) 50%, hsla(0, 97%, 54%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(266, 100%, 54%, 1) 1%, hsla(297, 56%, 50%, 1) 50%, hsla(0, 97%, 54%, 1) 100%);
    color: white;
    font-weight: bolder;
}
/* .topnav a.split2 {
    float: right;
    background: hsla(266, 100%, 54%, 1);
    background: linear-gradient(180deg, hsla(266, 100%, 54%, 1) 1%, hsla(297, 56%, 50%, 1) 50%, hsla(0, 97%, 54%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(266, 100%, 54%, 1) 1%, hsla(297, 56%, 50%, 1) 50%, hsla(0, 97%, 54%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(266, 100%, 54%, 1) 1%, hsla(297, 56%, 50%, 1) 50%, hsla(0, 97%, 54%, 1) 100%);
    color: white;
} */

/* MIDDLE */
.main1 {
    /* background-image: url("../img/bg_image.jpg"); */
    /* background-repeat: repeat;
    background-position: center;
    background-size: cover; */
    position: absolute;
    margin-top: 4.5em;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    z-index: -1;
    color: white;
    text-align: center;
}
.title {
    margin-top: 0.75em;
    font-size: 2.25em;
    font-weight: bold;
    text-shadow: black 0.05em 0.1em;
}
.line1 {
    background-color: white;
    border: white solid 0.125em;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 1.25em;
    width: 20em;
    height: 0.25em;
}
.description {
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    font-size: 1.25em;
}





.main2 {
    position: absolute;
    margin-top: 25em;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    z-index: -1;
    color: white;
    text-align: center;
}
.team-info {
    font-size: 2.25em;
    font-weight: bold;
    text-shadow: black 0.05em 0.1em;
}
.line2 {
    background-color: white;
    border: white solid 0.125em;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 1.25em;
    width: 20em;
    height: 0.25em;
}
.text1-1, .text1-2, .text1-3, .text1-4, .text1-5 {
    font-size: 1.25em;
    padding: 1em;
}
.member1, .member2, .member3, .member4, .member5 {
    color: #111111;
    background-color: white;
    border-radius: 0.75em;
    box-shadow: 5px 10px;
    position: relative;
    width: 25vw;
    height: 25vw;
    font-size: 0.95vw;
    font-weight: bold;
}
.image1, .image2, .image3, .image4, .image5 {
    border-radius: 0.75em;
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.member1 {
    margin-left: 3.75em;
    margin-right: 4em;
    float: left;
}
.member1:hover .image1 {
    opacity: 1;
}
.member2 {
    margin-left: 5em;
    margin-right: 3.5em;
    float: left;
}
.member2:hover .image2 {
    opacity: 1;
}
.member3 {
    margin-left: 5em;
    margin-right: 3.75em;
    float: right;
}
.member3:hover .image3 {
    opacity: 1;
}
.member4 {
    margin-top: 2em;
    margin-left: 17em;
    float: left;
}
.member4:hover .image4 {
    opacity: 1;
}
.member5 {
    margin-top: 2em;
    margin-right: 17em;
    float: right;
}
.member5:hover .image5 {
    opacity: 1;
}


.main3 {
    position: absolute;
    margin-top: 90em;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    z-index: -1;
    color: white;
    text-align: center;
}
/* Animation Type 1 */
@keyframes slideToTop {
    from {
        transform: translateY(15em);
    }
    to {
        transform: translateY(0em);
    }
}
.vision, .mission {
    /* Animation Properties 
    animation-name: slideToBottom;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */

    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0.75em 1em 1em #111111;
    color: #111111;
    border-radius: 2em;
    margin-top: 1.5em;
    width: 34vw;
    height: 24vw;
    padding-top: 1em;
    font-size: 2em;
    font-weight: bolder;
}
.vision {
    float: left;
    margin-left: 5em;
}
.mission {
    float: right;
    margin-right: 5em;
}
.the-vision, .the-mission {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5vw;
    text-align: justify;
}